/*--import fonts from fonts css file----*/
@import url(./fonts.css);

/*---import _variables css---*/
@import url(./_variables.css);

/*-----Start navigation-----*/
.header_area .navbar .navbar-brand .main-menu
{
    padding: 0 2rem 0 5rem;
}
.header_area .main-menu .navbar
{
    padding: 1rem 20rem;
}
.header_area .main-menu .nav-item .nav-link
{
    font: normal 500 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a
{
    background: var(--gradient-color);
    --webkit-background-clip: text;
    --webkit-text-fil-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover
{
    background: var(--gradient-color);
    --webkit-background-clip: text;
    --webkit-text-fil-color: transparent;
    background-clip: text;
}

/*--banner area--*/
.site-main .site-banner
{
    background-image: url(images/banner/home-banner.png) no repeat 0%, 50%;
    background-position: 
}
.site-main .site-banner

